.row-centered {
    float: none;
    padding: 5px;
    margin: 0 auto;
}
.column-centered{
    float: none;
    padding: 5px;
    margin: 0 auto;
}
.gridContainer{
    float: none;
    margin: 0 auto;
    
}